<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: headerFragment">
</head>

<body>
    <div id="container">
        <h1>
            Hello, <span th:text="${username}">--name--</span>.
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Sales Order</th>
                    <th>SKU</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}">Text ...</td>
                    <td th:text="${order.salesOrder}">Text ...</td>
                    <td th:text="${order.sku}">Text ...</td>
                    <td><i class="bi bi-printer"></i>&nbsp;&nbsp;<i class="bi bi-cloud-arrow-down"></i></td>
                </tr>
            </tbody>
        </table>
        <div id="pagefoot" th:include="layout :: footerFragment">Footer
        </div>
        <a href="/logout">Logout</a>
    </div>
    <!-- container -->
</body>

</html>